:root {
  --nav-height: 90px;
  --brand-blue: #0adad2;
  --brand-red: #fc3535;
  --brand-orange: #f48c04;
  --background-nav-light: #ffff;
  --background-light: #dfdfdf
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-light);
}

main {
  height: calc(100% - var(--nav-height));
}
